<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    



        <!-- Login 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
          <div class="bg-white p-4 p-md-5 rounded shadow">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h3>Forgot Password</h3>
                </div>
                {% include 'includes/alerts.html' %}
              </div>
            </div>
            <form id="registerForm" action="{% url 'forgotpassword' %}" method="POST">
                {% csrf_token %}
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-12">
                  <label for="email" class="form-label">Please enter your registered email id <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button id="submitButton" class="btn btn-lg btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <hr class="mt-5 mb-4 border-secondary-subtle">
                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                    <p class="m-0 text-secondary text-center">Don't have an account? <a href="{% url 'login' %}" class="link-primary text-decoration-none">Sign in</a></p>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                  <hr class="mt-5 mb-4 border-secondary-subtle">
                  <div class="col-12">
                    <p class="m-0 text-secondary text-center">Don't have an account? <a href="{% url 'register' %}" class="link-primary text-decoration-none">Register</a></p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <script>


    document.getElementById('registerForm').addEventListener('submit', function() {
    document.getElementById('submitButton').setAttribute('disabled', 'disabled');
    });

// for handling pop up messages  
setTimeout(function(){
    $('message').fadeOut('slow')
},3000)

$(document).ready(function() {
console.log("Document ready!");

// Attach click event to close button
$('.close-btn').click(function() {
    console.log("Close button clicked!");
    
    // Find the parent alert element and remove it
    $(this).closest('.alert').remove();
});
});

</script>


</body>
</html>